.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #6e8ab4; 
}

.weather-box {
  padding: 80px;
  border-radius: 12px;
  background-color: #c0bdbd; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
  text-align: center;
  width: 300px;
  font-family: Arial, sans-serif;
}

.weather-box input {
  padding: 8px;
  margin-right: 5px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.weather-box button {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: #3b638d;
  color: white;
  cursor: pointer;
}

.weather-box button:hover {
  background-color: #0056b3;
}

.weather-card {
  margin-top: 20px;
}